{% extends "baseproj.html.twig" %}

{% block title %}Blackjack{% endblock %}

{% block body %}
<div class="blackjack">
    <h1 align="center">Blackjack</h1>
    <div class="container">
            
        <div class="main blackjack" style="background: url('../img/pokertable.jpg');">
            
            {{ include('flash.html.twig') }}
            {# {% if (slask) %}
            <h3>var_dumps</h3>
            
            <pre>slask: {{ slask }}</pre>
            {% endif %} #}
            
            <div class="gametable">
                
                <div class="dealer">
                    <h3>DEALER</h3>
                    <div class="hands">
                        <h4>Dealer hand</h4>
                        <span>Score: {{ bank_score }}</span>
                        {% for card in bank %}
                            <pre>{{ card }}</pre>
                        {% endfor %}
                    </div>
                </div>
                <div class="player">
                    <h3>PLAYER HANDS</h3>
                    {% for hand in hands %}
                        <div class="hands">
                            <h4>Hand #{{ loop.index }}</h4>
                            <span>Score: {{ score[loop.index - 1] }}</span>
                            {% for card in hand %}
                            <pre>{{ card }}</pre>
                            {% endfor %}
                        </div>
                    {% endfor %}
                </div>
            </div>

            {# {% for card2 in cards %}
            <pre>{{ card2 }}</pre>
            {% endfor %} #}
            {# <pre>Poäng: {{ player_score }}</pre>
            {% for message in app.flashes('alert') %}
                <div class="flash-alert">
                {{ message }}
                </div>
            {% endfor %}
            {% for message in app.flashes('notice') %}
                <div class="flash-notice win">
                {{ message }}
                </div>
            {% endfor %}

            <h3>Bank drawn cards</h3>
            {% for card2 in bank %}
            <pre>{{ card2 }}</pre>
            {% endfor %}
            <pre>Poäng: {{ bank_score }}</pre> #}
            

            <form method="post" action="{{ path('gameplan_blackjack_post') }}" class="game_form">
                <button class="button green" type="submit" name="draw" id="draw" value="draw">Draw a card</button>
                <button class="button blue" type="submit" name="shuffle" id="shuffle" value="shuffle">Restart</button>
                <button class="button red" type="submit" name="stop" id="stop" value="stop">Stop</button>
            </form>

            <p>Image by <a href="https://www.freepik.com/free-vector/flat-design-poker-table-background_94956216.htm#query=blackjack%20background&position=41&from_view=keyword&track=ais_user&uuid=46ce0d04-09fe-46b1-baee-6f48c85abeac">Freepik</a></p>
            
        </div>
    </div>
</div>
{% endblock %}