{% extends "base.html.twig" %}

{% block title %}Game 21{% endblock %}

{% block body %}
<div class="game">
    <h1>Game 21</h1>
    <div class="container">
        <div class="aside">
        
        </div>
            
        <div class="main game">
            <p><pre>Draw cards, hit stop to check and see who wins. Hit shuffle to reboot.</pre></p>
            <h3>User drawn cards</h3>

            {% for card2 in cards %}
            <pre>{{ card2 }}</pre>
            {% endfor %}
            <pre>Poäng: {{ player_score }}</pre>
            {% for message in app.flashes('alert') %}
                <div class="flash-alert">
                {{ message }}
                </div>
            {% endfor %}
            {% for message in app.flashes('notice') %}
                <div class="flash-notice win">
                {{ message }}
                </div>
            {% endfor %}

            <h3>Bank drawn cards</h3>
            {% for card2 in bank %}
            <pre>{{ card2 }}</pre>
            {% endfor %}
            <pre>Poäng: {{ bank_score }}</pre>
            

            <form method="post" action="{{ path('gameplan_post') }}" class="game_form">
                <button class="button green" type="submit" name="draw" id="draw" value="draw">Draw a card</button>
                <button class="button blue" type="submit" name="shuffle" id="shuffle" value="shuffle">Shuffle</button>
                <button class="button red" type="submit" name="stop" id="stop" value="stop">Stop</button>
            </form>
            
        </div>
    </div>
</div>
{% endblock %}